<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Michael Phelps</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap1.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/half-slider.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="background-color: #38A5DB">

    <!-- Navigation -->

    <!-- Half Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->


        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://www.trbimg.com/img-5530f22f/turbine/bal-michael-phelps-posts-top-qualifying-time-in-100-meter-butterfly-20150416');"></div>
                <div class="carousel-caption">
                    <h1 style="font-size: 3.5em">Michael Phelps</h1>
                </div>
            </div>
        </div>

        <!-- Controls -->


    </header>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">

              </br>
                <p style=" font-size:1.3em; color:white; font-family: Merriweather,'Helvetica Neue',Arial,sans-serif">Michael Fred Phelps II (born June 30, 1985) is an American competition swimmer and the most decorated Olympian of all time, with a total of 25 medals. Phelps also holds the all-time records for Olympic gold medals (21, more than twice that of the second-highest record holders), Olympic gold medals in individual events (12), and Olympic medals in individual events (14, tied with Larisa Latynina). In winning eight gold medals at the 2008 Beijing Games, Phelps broke fellow American swimmer Mark Spitz's record of 7 first-place finishes at any single Olympic Games.<p>
</br>
</br>

<a class="twitter-timeline" data-height="700" href="https://twitter.com/MichaelPhelps">Tweets by MichaelPhelps</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>        </div>

        <hr>

        <!-- Footer -->


    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="static/js/jquery1.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap1.min.js"></script>


</body>

</html>

